@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-green-50;
}

/* Swiper */
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}

/* Remove scroll bar */
html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}